
<ion-content>

  <!--Header -->

  <div class="header">
    <h1>Menu</h1>
    <div class="avatar">
      <ion-img src="/assets/fruits.png">
      </ion-img>
    </div>
  </div>

  <!--Searchbar -->
  <app-searchbar>

  </app-searchbar>


  <!--Kategorije-->
  <div class="categories">
    <app-category-item *ngFor="let item of categories" [item]="item">
 </app-category-item>
    </div>

    <!--USLUGE-->
    <h1 class="list-header">Popular</h1>
    <div class="usluge-list" >
      <app-usluge-card *ngFor="let usluga of usluge" [item]="usluga"></app-usluge-card>

    </div>

</ion-content>
